#title{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#title::before{
    content: "🤖";
}
#title::after{
    content: "🌍";
}
#inicio > p::first-letter{
    font-size: 30px;
    color: blueviolet;
}
#inicio > p::first-line{
    background: yellow;
}
p::selection{
    background: blue;
    color: aliceblue;
}
ul > li > .linkMenu:visited{
    color: brown;
}

ul > li > .linkMenu:active{
    color: aqua;

}
#btn-enviar {
    background-color: #007BFF; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#btn-enviar:hover {
    background-color: #004800b3;
    cursor: crosshair; 
}

#btn-enviar:active {
    background-color: #0b4; 
}

#flex{
    display: grid;
    width: 500px;
    height: 500px;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
}
.cuadro{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
}